            <div class="filters">
                <select class="filter-select">
                    <option>University</option>
                </select>
                <select class="filter-select">
                    <option>Faculty</option>
                </select>
                <select class="filter-select">
                    <option>Semester</option>
                </select>
                <a href="#" class="filter-link">Top Rated</a>
                <a href="#" class="filter-link">Highest Views</a>
                <a href="#" class="filter-link">Recently uploaded</a>
            </div>