<div class="note-card">
    <div class="note-header">
        <span>Digital logic</span>
        <span>Bsc.CSIT, BCA</span>
    </div>
    <div class="note-image">
        <img src="./Photos/book.jpeg" alt="Digital Logic Design">
    </div>
    <div class="note-footer">
        <div class="user-info">
            <img src="./Photos/107972717_2660643560930244_4002923522177208544_n.jpg" alt="User" class="user-avatar">
            <span>Manoj Basnet</span>
        </div>
        <div class="note-stats">
            <span class="rating">4.0 Rating</span>
            <span class="views">200k views</span>
            <span class="time">9 hours ago</span>
        </div>
    </div>
</div>
